@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  overflow-y: hidden;
  height: 100vh;
}

body {
  overflow-y: auto;
  height: 100%;
}

.delay-100 {
  animation-delay: 20ms;
}

.delay-200 {
  animation-delay: 40ms;
}